<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TemplatingDemo</title>
  </head>
  <body>
    <!-- Incorporating EJS into the HTML -->
    <h1>The Home Page <%= 4 + 1 + 5 %> <%= 'hello world'.toUpperCase() %></h1>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto voluptatem sapiente, eaque vel maxime deserunt. Laboriosam facere molestiae nostrum neque repellat
      tempora praesentium eos aliquam magnam, consequatur facilis omnis delectus. Consectetur architecto praesentium debitis tenetur minima, aliquid sint fugiat magnam
      nulla soluta nam quasi sapiente beatae asperiores. Hic, nemo architecto explicabo cupiditate, asperiores in blanditiis sunt possimus vitae exercitationem provident?
      Consequatur porro natus sequi blanditiis? Reprehenderit, omnis nulla nihil numquam asperiores veritatis atque, similique a ex corporis provident accusantium soluta
      officiis debitis esse tenetur voluptatibus dolores saepe excepturi incidunt eius!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit iusto provident reprehenderit! Magni fugit perspiciatis recusandae corporis quibusdam dolorem,
      facilis veniam autem. Totam placeat, et eos a inventore qui quae! Numquam, laudantium. Fugiat facilis odio optio fugit, dignissimos ut quia eveniet totam aut omnis
      odit laborum tenetur exercitationem quod commodi saepe autem ratione placeat velit ipsam labore est sapiente. Unde! Ullam fugit id ea delectus molestias enim
      aliquid tenetur soluta excepturi a quis provident vitae commodi vero dolore, magni modi ducimus! Expedita suscipit rerum iste voluptatibus laboriosam provident qui
      doloribus.
    </p>
  </body>
</html>
