<%- include('partials/head') %>

<body>
  <%- include('partials/navbar') %>

  <h1>"<%= subreddit %>"? Ha! No such subreddit exists! Try again, and be better this time.</h1>
</body>

<%- include('partials/footer') %>
